<!DOCTYPE html>
<html lang="zxx">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="Technoit - IT Solutions & Business Services Multipurpose Responsive Website Template">
  <meta name="description" content="Technoit - IT Solutions & Business Services Multipurpose Responsive Website Template">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body>

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="static/assets/images/cyber1.png" alt="logo">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          
          <li class="dropdown"><a href="#"><span>Prediction</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/home">CICIDS2017</a></li>
              <li><a href="/home1">CICIDS2018</a></li>
              
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li class="dropdown"><a href="#"><span>Notebook</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/notebook1">CICIDS2017</a></li>
              <li><a href="/notebook2">CICIDS2018</a></li>
              
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->
      <a href="/login" class="btn-get-started hide-on-mobile">Signout</a>
      <button id="darkmode-button"><i class="bi bi-moon-fill"></i></button>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">

    <div id="particles-js"></div>
    <div id="repulse-circle-div"></div>
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-7 offset-lg-5 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h2 data-aos="fade-up">Welcome <span>to Dashboard</span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h2>
          <p data-aos="fade-up" data-aos-delay="400">An Intelligent Approach to Improving the Performance of Threat Detection in IoT</p>
          
          
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
        <!-- Start Service Section -->
        <div id="services" class="section">
          <div class="top-icon-box position-relative">
            <div class="container position-relative">
              <div class="section-header">
                <h2>Prediction</h2>
                
              </div>
              <div class="row gy-4">
                <h2>CICIDS2017</h2>
                <br><br><h2>Original</h2><br>
          <p>Accuracy:</p><br>
				  <img src="../static/download.png">
				  <br><br><br>
				  <p>Precision:</p><br><br>
				  <img src="../static/download (1).png">
				  <br><br><br>
				  <p>Recall:</p><br><br>
				  <img src="../static/download (2).png">
				  <br><br><br><br>
				  <p>F1 Score:</p><br><br>
				  <img src="../static/download (3).png">
                  <br>
                  <br><br><h2>PCA</h2><br>
                  <p>Accuracy:</p><br>
                  <img src="../static/download (4).png">
                  <br><br><br>
                  <p>Precision:</p><br><br>
                  <img src="../static/download (5).png">
                  <br><br><br>
                  <p>Recall:</p><br><br>
                  <img src="../static/download (6).png">
                  <br><br><br><br>
                  <p>F1 Score:</p><br><br>
                  <img src="../static/download (7).png">
                          <br><br><br>
                          <h2>CICIDS2018</h2>
                          <br><br><h2>Original</h2><br>
                    <p>Accuracy:</p><br>
                    <img src="../static/download (8).png">
                    <br><br><br>
                    <p>Precision:</p><br><br>
                    <img src="../static/download (9).png">
                    <br><br><br>
                    <p>Recall:</p><br><br>
                    <img src="../static/download (10).png">
                    <br><br><br><br>
                    <p>F1 Score:</p><br><br>
                    <img src="../static/download (11).png">
                            <br>
                            <br><br><h2>PCA</h2><br>
                            <p>Accuracy:</p><br>
                            <img src="../static/download (12).png">
                            <br><br><br>
                            <p>Precision:</p><br><br>
                            <img src="../static/download (13).png">
                            <br><br><br>
                            <p>Recall:</p><br><br>
                            <img src="../static/download (14).png">
                            <br><br><br><br>
                            <p>F1 Score:</p><br><br>
                            <img src="../static/download (15).png">
                                    <br>
                            
                </div>
              </div>
            </div>
          </div>
          <!-- End Service Section -->
      <!-- End Contact Section -->
  
  
    </main><!-- End #main -->
  
    <!--  Footer  -->
    <footer id="footer" class="footer-section">
      <div class="container">
          <div class="footer-content pt-5 pb-5">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                          
                          <div class="footer-social-icon">
                              <span>Follow us</span>
                              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
                  
                 </div>
              <div class="row">
                  <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                      <div class="copyright-text">
                          <p>Technoit © 2023 - Designed by <a href="https://www.templatemonster.com/authors/zrthemes/">Zr Themes</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <!-- End Footer -->
  
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
      <i class="bi bi-arrow-up-short"></i>
    </a>
  
    <div id="preloader"></div>
  
    <!-- Vendor JS Files -->
    <script src="static/assets/javascripts/jquery.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/javascripts/plugins.js"></script>
    <script src="static/assets/javascripts/purecounter_vanilla.js"></script>
    <script src="static/assets/javascripts/validator.min.js"></script>
    <script src="static/assets/javascripts/contactform.js"></script>
    <script src="static/assets/javascripts/particles.min.js"></script>
    <script src="static/assets/javascripts/script.js"></script>
  
    <!-- Template Main JS File -->
    <script src="static/assets/javascripts/main.js"></script>
  
  
  
  </body></html>